name: open_stop
description: 'Next Stop: Accessibility'

# Required in order to use git and path dependencies
publish_to: 'none'

# Remember:
# Create a new git tag (like so: v0.4.2) to trigger F-Droid and GitHub build scripts
# Create changelog file for F-Droid release
version: 0.8.3+22

environment:
  sdk: ">=3.6.0 <4.0.0"
  # The Flutter version is read in different build scripts and is used to setup the appropriate flutter toolkit.
  # The build processes cannot handle range notations like >=2.17.1 <3.0.0 or ^3.7.0.
  # Therefore it is important to always specify a fixed flutter version in that format: [0-9]+.[0-9]+.[0-9]+
  flutter: 3.29.1

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_map: ^8.1.1
  # tile caching dependencies - start
  flutter_map_cache: ^2.0.0+1
  http_cache_file_store: ^2.0.1
  path_provider: ^2.1.5
  # tile caching dependencies - end
  geolocator: ^13.0.0
  latlong2: ^0.9.0
  vector_math: ^2.1.4
  polylabel: ^1.0.1
  supercluster: ^3.1.0
  animated_location_indicator:
    git:
      url: https://github.com/OPENER-next/animated_location_indicator.git
  animated_marker_layer:
    git:
      url: https://github.com/OPENER-next/animated_marker_layer.git
  osm_api:
    git:
      url: https://github.com/OPENER-next/osm_api.git
  temaki_flutter:
    git:
      url: https://github.com/OPENER-next/temaki_flutter.git
  offline_geocoder:
    git:
      url: https://github.com/OPENER-next/offline_geocoder.git
  collection: ^1.17.0
  dio: ^5.1.0
  shared_preferences: ^2.0.20
  flutter_secure_storage: ^9.0.0
  url_launcher: ^6.0.17
  flutter_web_auth_2: ^4.1.0
  flutter_material_design_icons: ^1.1.7296
  flutter_markdown: ^0.7.2+1
  flutter_mvvm_architecture:
    git:
      url: https://github.com/Robbendebiene/flutter-mvvm-architecture.git
  get_it: ^7.6.0
  mobx: ^2.2.0
  flutter_mobx: ^2.0.6+5
  intl: any

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.14.1
  flutter_lints: ^5.0.0
  nock: ^1.2.1
  stack_trace: ^1.11.0
  build_runner: ^2.3.3
  build_version: ^2.1.1

flutter:
  assets:
    - PRIVACY_POLICY.md
    - assets/images/
    - assets/images/onboarding/
    - assets/images/logos/
    - assets/question_catalog/
    - assets/question_catalog/locales/
    - assets/question_catalog/images/
    - assets/advanced_question_catalog/
    - assets/advanced_question_catalog/locales/
    - assets/advanced_question_catalog/images/
  # The following line ensures that the Material Icons font is included
  uses-material-design: true
  generate: true

  fonts:
    - family:  CustomIcons
      fonts:
      - asset: lib/commons/custom_icons/fonts/CustomIcons.ttf

flutter_icons:
  image_path_android: 'assets/images/app_icon_android.png'
  image_path_ios: 'assets/images/app_icon_ios.png'

  adaptive_icon_foreground: 'assets/images/app_icon_adaptive_foreground.png'
  adaptive_icon_background: '#ffcd40'
  android: true
  ios: true
  web:
    generate: true
    image_path: 'assets/images/app_icon_ios.png'
    background-color: '#ffcd40'
    theme-color: '#ffcd40'
