name: open_stop
description: 'Next Stop: Accessibility'

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.1.0+1

environment:
  sdk: ">=2.13.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_map: ^0.14.0
  geolocator: ^8.2.0
  latlong2: ^0.8.0
  vector_math: ^2.1.1

  animated_location_indicator:
    git:
      url: https://github.com/OPENER-next/animated_location_indicator.git

  animated_marker_layer:
    git:
      url: https://github.com/OPENER-next/animated_marker_layer.git

  osm_api:
    git:
      url: https://github.com/OPENER-next/osm_api.git

  dio: ^4.0.0

  provider: ^6.0.1

  shared_preferences: ^2.0.7

  flutter_secure_storage: ^5.0.2

  url_launcher: ^6.0.17

  flutter_appauth: ^2.2.0

  community_material_icon: ^5.9.55

  flutter_markdown: ^0.6.9

  nvbw_open_data:
    path: ./dependencies/nvbw_open_data

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_launcher_icons: ^0.9.2
  flutter_lints: ^1.0.4
  nock: ^1.2.0
  build_runner: ^2.1.7
  build_version: ^2.0.0

# Use latest flutter map from github till a new version is released on pub.dev
dependency_overrides:
  flutter_map:
    git: https://github.com/fleaflet/flutter_map.git

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  fonts:
    - family: MaterialDesignIconFont
      fonts:
        - asset: packages/community_material_icon/fonts/materialdesignicons-webfont.ttf

  assets:
    - PRIVACY_POLICY.md
    - assets/images/
    - assets/images/onboarding/
    - assets/images/logos/
    - assets/images/questions/
    - assets/datasets/question_catalog.json
    - assets/datasets/map_feature_collection.json

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

flutter_icons:
  image_path_android: 'assets/images/app_icon_android.png'
  image_path_ios: 'assets/images/app_icon_ios.png'
  adaptive_icon_foreground: 'assets/images/app_icon_adaptive_foreground.png'
  adaptive_icon_background: '#ffcd40'
  android: true
  ios: true
