name: Code Validation

on:
  push:
  pull_request:

  # Allow running this workflow manually from the Actions tab
  workflow_dispatch:

# Allow only one concurrent code validation workflow
concurrency:
  group: "code_validation"
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Run shared environment setup steps
      uses: ./.github/actions/environment_setup

    - name: Run static analysis and style guideline checks
      run: flutter analyze
