name: JSON Validation

on:
  push:
    paths:
      - '**/definition.json'
      - '**/question_catalog_schema.json'
      - '**/osm_condition_schema.json'
      - '**/expression_schema.json'
  pull_request:
    paths:
      - '**/definition.json'
      - '**/question_catalog_schema.json'
      - '**/osm_condition_schema.json'
      - '**/expression_schema.json'

  # Allow running this workflow manually from the Actions tab
  workflow_dispatch:

# Allow only one concurrent json validation workflow
concurrency:
  group: "json_validation"
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install jsonschema validator
        run: pip install jsonschema

      - name: Validate questions JSON
        run: jsonschema --instance 'assets/question_catalog/definition.json' 'schemas/question_catalog_schema.json'

      - name: Validate advanced questions JSON
        run: jsonschema --instance 'assets/advanced_question_catalog/definition.json' 'schemas/question_catalog_schema.json'
